    <h1>Chat</h1>
    <form onsubmit="return addMessage(this)">
    <input type="email" id="email" email="email" placeholder="ingresa tu email">
    <input type="text" id="mensaje" name="mensaje" placeholder="escribe tu mensaje">
    <button class="btn btn-primary">Enviar</button>
    </form>
    <div id="messages"></div>